body {
    background-color: lightgreen;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 32%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover:not(.active) {
    background-color: #5bbf61;
}

.active {
    background-color: #3b6e30;
}

div.inlineImage {
    margin: 0 auto;
    text-align: center;
    padding-top:5%;
    padding-bottom:5%;
}

div.main{
    background-color: white;
    max-width:1025px;
    margin:auto;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
}
div.mainNav {
    max-width:992px;
    margin: auto;
    border: 3px solid #5bbf61;
}

div.books {
    margin : 20px;
    padding: 2.5%;
    font-family: arial, helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

div.footer {
    margin : 20px;
    padding: 2.5%;
    font-family: arial, helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.about {
    display: inline-block;
    width: 150px;
    height: 75px;
}

div.polaroid {
  display: inline-block;
  width: 490px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 10px;
}

div.container {
  padding: 10px;
}

@media screen and (max-width: 1025px){
    ul.navBar li.right, 
    ul.navBar li {float: none;}
    ul.navBar li.border: none;
}

input[type=text] {
    width: 800px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}	